.join{
   display: flex;
   padding: 0 2rem;
   gap: 10rem;
}

.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}


.right-j{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.email-container{
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: grey; 
}

.email-container>input{
    background-color: transparent;
    border: none;
    color: #D9D9D9;
    outline: none;
}

::placeholder{
    color: #D9D9D9;
}

.btn-j{
    background-color: orange;
}
